body {
  font-family: Arial, sans-serif;
  background-color: #efd5d5a2;
  text-align: center ;

}


header {
  background-color: #8960b7;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}


section {
  padding: 1rem 2rem;
}


img {
  max-width: 150px;
  border-radius: 10%;
  display: block;
  margin-bottom: 1rem;
}


.btn.btn-enviar {
  background-color: #6a1b9a; /* morado */
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn.btn-enviar:hover {
  background-color: #4a148c;
}



footer {
  background-color: #222222a1;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}


