<div class="nav-container">
    <nav class="navbar navbar-expand-lg rounded-nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home.html" data-spa>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/src/pages/portfolio.html" data-spa>Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/src/pages/blog.html" data-spa>Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>





